<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:56px">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-5">ASITE LMS</div>
                    <span class="text-xl">Reset your Password</span>
                </div>

                <form [formGroup]="passwordResetForm" (submit)="formSubmission(passwordResetForm)">

                    <div class="mb-5">
                        <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                        <input id="email1" type="text" placeholder="Email address" pInputText formControlName="email"
                            [ngClass]="{'ng-invalid ng-dirty': passwordResetForm.get('email')?.invalid}"
                            class="w-full md:w-30rem" style="padding:1rem">

                        <div *ngIf="(passwordResetForm.get('email')?.invalid && passwordResetForm.get('email')?.touched)"
                            class="my-3 text-sm flex align-items-center gap-2 p-error">
                            <i class="pi pi-exclamation-circle"></i>
                            Enter valid email.
                        </div>
                    </div>

                    <div>
                        <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                        <div class="mb-5">
                            <span class="p-input-icon-right ml-auto w-full md:w-30rem">
                                <input pInputText #passwordInput type="password" placeholder="Password"
                                    formControlName="password" class="w-full md:w-30rem"
                                    [ngClass]="{'ng-invalid ng-dirty': passwordResetForm.get('password')?.invalid}">
                                <i *ngIf="passwordInput.type == 'password'" (click)="passwordInput.type = 'text'"
                                    class="pi pi-eye cursor-pointer"></i>
                                <i *ngIf="passwordInput.type == 'text'" (click)="passwordInput.type = 'password'"
                                    class="pi pi-eye-slash cursor-pointer"></i>
                            </span>
                            <div *ngIf="(passwordResetForm.get('password')?.invalid && passwordResetForm.get('password')?.touched)"
                                class="my-3 text-sm flex align-items-center gap-2 p-error">
                                <i class="pi pi-exclamation-circle"></i>
                                Enter valid password.
                            </div>
                        </div>
                    </div>

                    <div class="mb-5">
                        <label for="confirmPassword" class="block text-900 font-medium text-xl mb-2">Confirm Password</label>
                        <input pInputText #passwordInput type="password" placeholder="Password"
                            formControlName="confirmPassword" class="w-full md:w-30rem"
                            [ngClass]="{'ng-invalid ng-dirty': passwordResetForm.get('confirmPassword')?.invalid}">
                        <div *ngIf="(passwordResetForm.get('confirmPassword')?.invalid && passwordResetForm.get('confirmPassword')?.touched)"
                            class="my-3 text-sm flex align-items-center gap-2 p-error">
                            <i class="pi pi-exclamation-circle"></i>
                            Enter valid password.
                        </div>
                    </div>

                    <div class="flex justify-content-center">
                        <p-button label="Reset" type="submit" styleClass="p-button-lg" [loading]="isSubmitting"
                            [disabled]="passwordResetForm.invalid"></p-button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>