.profile-view img{
    position: relative;
    top: -50%;
    width: 40%;
    border-radius: 100%;
    border: 0.5em solid #f8f8f8;
}
.talent-profile-wrapper{
    display: flex;
    justify-content: space-evenly;
}
/* Talent info sections */
.talent-details-right{
    width: 45%;
}
.talent-details-left{
    width: 45%;
}
.info-section{
    padding: 1em;
    font-size: 1.2em;
}
.pi{
    font-size: 0.8em;
}

.profile-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.title-edit-group{
    .title{ 
        margin-bottom: 1em;
        h2{
        margin-bottom: 0;
        }
    
    }
    button{
        margin: auto;
    }

}



td:first-child{   
    font-weight: 530;
}


.data-section{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

// Media Queries

@media (max-width: 1366px) {
    .profile-view{
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 892px) {
    .profile-view img{
        width: 20%;
    }
    .talent-profile-wrapper{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .talent-details-left{
        padding-bottom: 2em;
    }
    .talent-details-right, .talent-details-left{
        width: 90%;
        margin: auto;
    }

}

@media (max-width: 724px) {
    .profile-view{
        flex-direction: column;
    }
    .title-edit-group button{
        display: flex;
    }
    .profile-view img{
        width: 30%;
    }
    h2{
        font-size: 1.2em;
    }
    p{
        font-size: 1em;
    }

}

@media (max-width: 424px) {
    .profile-view img{
        width: 50%;
    }
    table{
        width: 90%;
    }
    p{
        font-size: 0.9em;
    }

}
